trigger:
- main

pool:
  name: 'Default'   # seu agente privado

variables:
  appName: 'myassist'
  tag: '$(Build.BuildId)'

steps:
- task: Docker@2
  displayName: Build image (no push)
  inputs:
    command: build
    dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    repository: '$(appName)'      # resulta em: myassist:$(tag)
    tags: |
      $(tag)

# Opcional: salvar a imagem como artefato para a Release consumir
- script: |
    docker save $(appName):$(tag) -o image.tar
  displayName: 'Empacotar imagem em TAR'

- publish: image.tar
  artifact: docker-image
  displayName: 'Publicar artefato da imagem'
